.wrapper {
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    right: 0;
    position: absolute;
    width: 300px;
    height: fit-content;
    padding: 16px;
    top: 40px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bookWrapper {
    display: flex;
    gap: 16px;
}

.cover {
    height: 100px;
}

.button {
    padding: 4px 8px;
    color: white;
    background: #37C34E;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 12px;
    border: none;
    cursor: pointer;
}

.emptyMessage {
    font-style: italic;
}