.wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
  padding-top: 100px;
  background-color: lightblue;
}

.booksWrapper {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
}

.emptyBooksWrapper {
  font-style: italic;
  text-align: center;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  align-items: center;
  background: #ededed;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.rightContainer {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.searchbox {
  background: white;
  padding: 8px 16px;
  border-radius: 24px;
  width: 300px;
}

.searchbox > input {
  border: none;
  width: 100%;
}

.searchbox > input:focus {
  outline: none;
}

.cartWrapper {
  position: relative;
  align-self: center;
  cursor: pointer;
}

.count {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #2691f4;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: -5px;
  top: -5px;
}

.cartIcon {
  height: 24px;
  width: 24px;
}


@media only screen and (max-width: 767px) {
  .wrapper {
    padding: 0px;
    padding-top: 60px;
  }

  .booksWrapper {
    height: 100%;
    min-height: 100vh;
  }

  .searchbox {
    width: auto;
  }

  .title {
    font-size: 18px;
    font-weight: 500;
  }
}
